body {
  background-color: #FFE4B5;
  font-family: courier;
}

h1 {
  color: red;
  border-style: solid;
  text-align: center;
}

.completeby {
  size: 40px;
}

#createTask {
  align: center;
}

#text {
  align: center;
}

#task {
  text-align: center;
}
